@import "tailwindcss";

/* =========================
   GLOBAL
========================= */

:root{
    font-family:Inter,system-ui,sans-serif;
}

*{
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    min-height:100%;
    margin:0;
}

body{
    min-height:100vh;
    overflow-x:hidden;

    background:
    radial-gradient(circle at top,#0f3b55 0%,#071423 45%,#020617 100%);

    color:#fff;
}


/* =========================
   SCROLLBAR
========================= */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#06101f;
}

::-webkit-scrollbar-thumb{
    background:#3dd5f3;
    border-radius:999px;
}


/* =========================
   GLASS
========================= */

.glass{
    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.14);

    backdrop-filter:blur(24px);

    -webkit-backdrop-filter:blur(24px);

    box-shadow:
    0 10px 35px rgba(0,0,0,.35);
}


/* =========================
   CLAY
========================= */

.clay{

    background:
    linear-gradient(
        145deg,
        rgba(255,255,255,.12),
        rgba(255,255,255,.05)
    );

    border:
    1px solid rgba(255,255,255,.12);

    backdrop-filter:
    blur(28px);

    -webkit-backdrop-filter:
    blur(28px);

    box-shadow:
    0 20px 45px rgba(0,0,0,.35);
}


/* =========================
   BUTTON
========================= */

.clay-button{

    background:
    linear-gradient(
        135deg,
        #38bdf8,
        #2563eb
    );

    color:white;

    transition:.25s;
}

.clay-button:hover{

    transform:translateY(-3px);

    box-shadow:
    0 18px 35px rgba(37,99,235,.35);

}

.nav-link {
  color: white;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #15803D;
}


@media(max-width:640px){

h1{
line-height:1.1;
}

}

